# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-merge-conflict
        args: [--assume-in-merge]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.2
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.6.2
    hooks:
      - id: pydoclint
        args: [
          --style=google, 
          --check-arg-order=True,
          --check-return-types=True,
          --check-class-attributes=True,
          # --arg-type-hints-in-docstring=False,
          # --check-return-types=False,
          --skip-checking-raises=True,
        ]
  - repo: local
    hooks:
      - id: mkdocs-build
        name: mkdocs-build
        entry: mkdocs build
        language: system
        pass_filenames: false # Or true if you want to pass files as arguments
        always_run: true # Usually you want to build every time
        stages: [pre-commit]
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.5.2
    hooks:
      - id: zizmor